
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$grid-gutter-width: 10px;

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'media-queries';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
}


/*******************************************************************************************
Header
*******************************************************************************************/



header {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

.navigation {
  position: fixed;
  z-index: 10;
  background-color: rgba(10, 9, 8, 0.8);
  width: 100%;
  height: 50px;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.scroll-link {
  display: inline;
}

.brand {
  display: inline-block;
  margin-left: 100px;
  margin-top: 3px;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}
.brand a {
  text-decoration: none;
  color: #F2F4F3;
}
.navigation-elements {
  display: inline-block;
  float: right;
  margin-right: 100px;
  margin-top: 13px;
}
.navigation-elements li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.navigation-elements a {
  text-decoration: none;
  color: #F2F4F3;
  font-weight: 300;
  font-size: 15px;
}

.navigation-item {
  display: inline;
  margin-left: 35px;
}
.navigation-item:hover {
  color: #000;
  background-color: #F2F4F3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navigation-item a:hover {
  color: #000;
}

.page-section {
  width: 100%;
  height: 680px;
}
.page-section h1 {
  font-size: 4em;
}
.page-section p {
  font-weight: 200;
}




/*******************************************************************************************
main
*******************************************************************************************/



//
// #parallax {
//   perspective: 1px;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: auto;
// }



#title {
  background: linear-gradient(rgba(67, 91, 104, 0.5), rgba(67, 91, 104, 0.5)), url('../images/programming.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 680px;
  width: 100%;
}
.title-name {
  text-align: center;
  // margin-top: 270px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.title-description {
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 25px;
}



/*******************************************************************************************
About
*******************************************************************************************/



#about {
  // height: 600px;
  width: 100%;
  background-color: #F2F4F3;
}
.about-title {
  color: #7A6263;
  text-align: center;
  // margin-top: 100px;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
}
.about-summary {
  color: #7A6263;
  text-align: center;
  // margin-left: 250px;
  // margin-right: 250px;
  padding-top: 50px;
  border-top: 1px solid #B79E87;
  font-family: 'Raleway', sans-serif;
}



/*******************************************************************************************
Skills
*******************************************************************************************/



#skills {
  background: linear-gradient(rgba(183, 158, 135, 0.4), rgba(183, 158, 135, 0.5)), url('../images/programming-2.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 680px;
  width: 100%;
}
.skills-title {
  color: #F2F4F3;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.skills-summary-one {
  color: #F2F4F3;
  text-align: center;
  margin-top: 50px;
  // margin-left: 250px;
  // margin-right: 250px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.skill-logos {
  margin-top: 80px;
}




/*******************************************************************************************
Portfolio
*******************************************************************************************/




#portfolio {
  // height: 680px;
  width: 100%;
  background-color: #F2F4F3;
}
.portfolio-title {
  color: #7A6263;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.project-one {
  // width: 360px;
  height: 200px;
  border-radius: 5px;
  background: url('../images/surf-and-paddle.png');
  background-position: 50% 50%;
  background-size: cover;
  // margin-left: 60px;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
}
.project-two {
  // width: 360px;
  height: 200px;
  border-radius: 5px;
  background: url('../images/github-clone.png');
  background-position: 50% 50%;
  background-size: cover;
  // margin-left: 27px;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
}
.project-three {
  // width: 360px;
  height: 200px;
  border-radius: 5px;
  background: url('../images/tshirts.png');
  background-position: 50% 50%;
  background-size: cover;
  // margin-left: -5px;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.5);
}
.project-description-one {
  color: #7A6263;
  margin-top: 30px;
  // margin-left: 90px;
  // margin-left: 20%;
  width: 300px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.project-description-two {
  color: #7A6263;
  margin-top: 30px;
  // margin-left: 58px;
  // margin-left: 13%;
  width: 300px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.project-description-three {
  color: #7A6263;
  margin-top: 30px;
  // margin-left: 28px;
  // margin-left: 6%;
  width: 300px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.github-spacing {
  margin-bottom: 20px;
}

.hover-effect {
  background-color: rgba(0, 0, 0, 0.7);
}



/*******************************************************************************************
Contact
*******************************************************************************************/



#contact {
  background: linear-gradient(rgba(67, 91, 104, 0.7), rgba(67, 91, 104, 0.7)), url('../images/contact-me.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  width: 100%;
}
.contact-title {
  color: #F2F4F3;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.contact-picture {
  background: url('../images/headshot.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  // margin-left: 590px;
  margin-bottom: 60px;
}
.email-container {
  // padding-left: 280px;
  padding-top: 10px;
  // width: 150px;
  // display: inline-block;
}
.email-container a {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #F2F4F3;
}
.email-link {
  margin-left: 50px;
}
.contact-email {
  margin-top: 10px;
}

.social-container {
  // width: 300px;
  // display: inline-block;
}

.resume-container {
  // padding-left: 85px;
  margin-top: 10px;
  // width: 150px;
  // display: inline-block;
}
.resume-container a {
  text-decoration: none;
  color: #f2f4f3;
  padding-left: 12px;
}
.contact-resume {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  color: #F2F4F3;
}
.github {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
  width: 50px;
  background-color: #B79E87;
  border-radius: 25px;
  padding-left: 13px;
  padding-top: 12px;
}
.github a {
  text-decoration: none;
  color: #435B68;
}
.linkedin {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
  width: 50px;
  background-color: #B79E87;
  border-radius: 25px;
  padding-left: 13px;
  padding-top: 10px;
}
.linkedin a {
  text-decoration: none;
  color: #435B68;
}
.twitter {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #B79E87;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 10px;
}
.twitter a {
  text-decoration: none;
  color: #435B68;
}




/*******************************************************************************************
Footer
*******************************************************************************************/




.footer-copywrite {
  text-align: center;

}



/*******************************************************************************************
The End
*******************************************************************************************/
