// Bootstrap Variables
$grid-gutter-width: 0px;

@import "about.scss";
@import "skills.scss";
@import "heading.scss";
@import "contact.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}

/*******************************************************************************************
Header
*******************************************************************************************/

header {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/*******************************************************************************************
main
*******************************************************************************************/

#title {
  background: linear-gradient(rgba(67, 91, 104, 0.5), rgba(67, 91, 104, 0.5)),
    url("../../dist/imgs/programming.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 680px;
  width: 100%;
}
.title-name {
  text-align: center;
  // margin-top: 270px;
  color: #fff;
}
.title-description {
  text-align: center;
  color: #fff;
  font-size: 25px;
}

/*******************************************************************************************
About
*******************************************************************************************/

#about {
  width: 100%;
  background-color: #f2f4f3;
}
.about-title {
  color: #7a6263;
  text-align: center;
  margin-bottom: 50px;
}
.about-summary {
  color: #7a6263;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 50px;
  border-top: 1px solid #b79e87;
}

/*******************************************************************************************
Skills
*******************************************************************************************/

#skills {
  background: linear-gradient(
      rgba(183, 158, 135, 0.6),
      rgba(183, 158, 135, 0.5)
    ),
    url("../../dist/imgs/programming-2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.skills-title {
  color: #f2f4f3;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.skills-summary {
  color: #f2f4f3;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 15%;
}
.skill-logos {
  margin-top: 80px;
}

/*******************************************************************************************
Portfolio
*******************************************************************************************/

#portfolio {
  min-height: 760px;
  width: 100%;
  background-color: #f2f4f3;
}

.github-icon {
  color: #000;
}

.portfolio-title {
  color: #7a6263;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.portfolio-images {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}

.project-one-image {
  background: url("../../dist/imgs/lrdg.png");
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
}
.project-two-image {
  background: url("../../dist/imgs/boat-covers-direct.png");
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
}
.project-three-image {
  background: url("../../dist/imgs/car-covers.png");
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.75);
}

.portfolio-content {
  text-align: center;
  margin-bottom: 50px;

  h5 {
    margin-top: 10%;
    color: #7a6263;
  }

  p {
    color: #7a6263;
  }

  .project-description {
    height: 115px;
  }

  .github-icon {
    color: #7a6263;

    &:hover {
      color: #5d7f9e;
    }
  }
}

.github-spacing {
  margin-bottom: 20px;
}

.hover-effect {
  background-color: rgba(0, 0, 0, 0.7);
}

/*******************************************************************************************
Contact
*******************************************************************************************/

#contact {
  background: linear-gradient(rgba(67, 91, 104, 0.7), rgba(67, 91, 104, 0.7)),
    url("../../dist/imgs/contact-me.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.contact-title {
  color: #f2f4f3;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.contact-picture {
  background: url("../../dist/imgs/headshot.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 60px;
}
.email-container {
  padding-top: 10px;
}
.email-container a {
  text-decoration: none;
  color: #f2f4f3;
}
.contact-email {
  margin-top: 10px;
}

.resume-container {
  margin-top: 10px;
}
.resume-container a {
  text-decoration: none;
  color: #f2f4f3;
}
.contact-resume {
  margin-top: 10px;
  color: #f2f4f3;
}
.twitter {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
  width: 50px;
  background-color: #b79e87;
  border-radius: 25px;
  padding-left: 2px;
  padding-top: 10px;
}
.github a {
  text-decoration: none;
  color: #435b68;
}
.linkedin {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
  width: 50px;
  background-color: #b79e87;
  border-radius: 25px;
  padding-left: 1px;
  padding-top: 9px;
}
.linkedin a {
  text-decoration: none;
  color: #435b68;
}
.github {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #b79e87;
  border-radius: 25px;
  padding-top: 9px;
}
.twitter a {
  text-decoration: none;
  color: #435b68;
}

/*******************************************************************************************
Footer
*******************************************************************************************/

.footer-copywrite {
  text-align: center;
}

/*******************************************************************************************
The End
*******************************************************************************************/
