#contact {
  min-height: 715px;

  h1 {
    margin-top: 20%;
  }

  .row {
    margin-right: 0 !important;
  }

  .email-container {
    text-align: center;
  }

  .social-container {
    text-align: center;
  }

  .resume-container {
    text-align: center;
  }
}
