/**************************************************************************************************
Heading
**************************************************************************************************/




@media(max-width: 2560px){

  .page-section {
    height: 750px;
  }
  #title {
    height: 700px;
  }
  .title-name {
    margin-top: 320px;
  }

}

@media(max-width: 1440px){

  .page-section {
    height: 635px;
  }
  #title {
    height: 700px;
  }
  .title-name {
    margin-top: 290px;
  }
}

@media(max-width: 768px){

  .page-section {
    height: 700px;
  }
  #title {
    height: 700px;
  }
  .title-name {
    margin-top: 0px;
    padding-top: 300px;
  }
}

@media(max-width: 425px){

  .page-section {
    height: 700px;
  }
  #title {
    font-size: 10px;
  }

  .brand {
    display: none;
  }
}
