


/**************************************************************************************************
Navigation
**************************************************************************************************/





@media(max-width: 1920px){

  .modile-nav {
    display: none;
  }
}


@media(max-width: 1440px) {
  .mobile-nav {
    display: none;
  }
  // .navbar a {
  //   margin-left: 1%;
  // }
}

@media(max-width: 1640px){
  .navbar a {

  }
  .mobile-nav {
    display: none;
  }
}

@media(max-width: 1260px){
  .modile-nav {
    display: none;
  }
}


@media(max-width: 768px){

  .brand {
    margin-left: 50px;
  }

  .navigation-elements {
    margin-right: 50px;
  }

}


@media(max-width: 425px){

  // .navigation {
  //   z-index: 0;
  //   width: 0%;
  // }

  .navbar a {
    margin-left: 3%;
  }

  .mobile-nav {

  }

  .navigation-elements li {
    display: none;
  }

}





/**************************************************************************************************
Heading
**************************************************************************************************/




@media(max-width: 2560px){

  .page-section {
    height: 750px;
  }
  #title {
    height: 700px;
  }
  .title-name {
    margin-top: 320px;
  }

}

@media(max-width: 1440px){

  .page-section {
    height: 635px;
  }
  #title {
    height: 700px;
  }
  .title-name {
    margin-top: 290px;
  }
}

@media(max-width: 768px){

  .page-section {
    height: 700px;
  }
  #title {
    height: 700px;
  }
  .title-name {
    margin-top: 0px;
    padding-top: 300px;
  }
}

@media(max-width: 425px){

  .page-section {
    height: 700px;
  }
  #title {
    font-size: 10px;
  }

  .brand {
    display: none;
  }
}




/**************************************************************************************************
About
**************************************************************************************************/




@media(max-width: 2560px){

  #about {
    height: 700px;
  }
  .about-title {
    margin-top: 200px;
  }
  .about-summary {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-width: 1440px){

  #about {
    height: 635px;
  }
  .about-title {
    margin-top: 160px;
  }
  .about-summary {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-width: 768px){

  #about {
    height: 635px;
  }
  .about-title {
    margin-top: 0px;
    padding-top: 80px;
  }
  .about-summary {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-width: 425px){

  #about {
    height: 500px;
    font-size: 10px;
  }
  .about-summary {
    margin-left: 10%;
    margin-right: 10%;
  }
}



/**************************************************************************************************
Portfolio
**************************************************************************************************/




@media(max-width: 2650px) and (min-width: 1921px){

  #portfolio {
    height: 700px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 29%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 2%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 2.5%;
  }

  .project-three {
    margin-left: 2.5%;
    width: 300px;
  }
  .project-description-three {
    // margin-left: 40px;
  }
}










/**************************************************************************************************
1920
**************************************************************************************************/

@media(max-width: 1920px) and (min-width: 1641px){

  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 21.5%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    // margin-left: 5%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {

  }

}

/**************************************************************************************************
1920
**************************************************************************************************/










@media(max-width: 1640px) and (min-width: 1441px) {

  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 16.5%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    // margin-left: 5%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {

  }

}

@media(max-width: 1440px) and (min-width: 1281px) {

  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 12%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    // margin-left: 5%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {

  }
}

@media(max-width: 1280px) and (min-width: 1024px) {
  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 7.5%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {
    margin-left: 4%;
  }
}

@media(max-width: 1024px) and (min-width: 769px) {

  #portfolio {
    height: 700px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 4%;
  }
  .project-container {
    width: 310px;
  }

  .project-one {
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
  }

  .project-two {
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
  }

  .project-three {
    margin-left: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 10px;
  }
}

@media(max-width: 768px) and (min-width: 426px) {

  #portfolio {
    height: 1610px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 28%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-three {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 2.5%;

  }
}

@media(max-width: 425px) and (min-width: 376px) {

  #portfolio {
    height: 1510px;
    font-size: 10px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 11%;
  }
  .project-container {
    width: 320px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 1%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 1%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-three {
    margin-left: 2.5%;
    margin-right: 1%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 2.5%;

  }
}

@media(max-width: 375px){
  #portfolio {
    height: 1510px;
    font-size: 10px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 6%;
  }
  .project-container {
    width: 280px;
  }

  .project-one {
    margin-left: 13px;
    // // margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-two {
    margin-left: 13px;
    // margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-three {
    margin-left: 13px;
    // margin-right: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 2.5%;

  }
}



/**************************************************************************************************
the end
**************************************************************************************************/
