/**************************************************************************************************
Portfolio
**************************************************************************************************/




@media(max-width: 2650px){

  #portfolio {
    height: 700px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 29%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 2%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 2.5%;
  }

  .project-three {
    margin-left: 2.5%;
    width: 300px;
  }
  .project-description-three {
    // margin-left: 40px;
  }
}







/**************************************************************************************************
1920
**************************************************************************************************/

@media(max-width: 1920px){

  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 1%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    // margin-left: 5%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {

  }

}

/**************************************************************************************************
1920
**************************************************************************************************/










@media(max-width: 1640px){

  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 16.5%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    // margin-left: 5%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {

  }

}

@media(max-width: 1440px){

  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 12%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    // margin-left: 5%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {

  }
}

@media(max-width: 1280px) {
  #portfolio {
    height: 700px;

  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 7.5%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    // margin-left: 13%;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
  }

  .project-three {
    width: 300px;
    margin-left: 2.5%;
  }
  .project-description-three {
    margin-left: 4%;
  }
}

@media(max-width: 1024px) {

  #portfolio {
    height: 700px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 4%;
  }
  .project-container {
    width: 310px;
  }

  .project-one {
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
  }

  .project-two {
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
  }

  .project-three {
    margin-left: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 10px;
  }
}

@media(max-width: 768px){

  #portfolio {
    height: 1610px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 28%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-three {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 2.5%;

  }
}

@media(max-width: 425px){

  #portfolio {
    height: 1510px;
    font-size: 10px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 11%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-two {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-three {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 2.5%;

  }
}

@media(max-width: 375px){
  #portfolio {
    height: 1510px;
    font-size: 10px;
  }
  .portfolio-container {
    // margin-right: 4%;
    margin-left: 6%;
  }
  .project-container {
    width: 380px;
  }

  .project-one {
    // margin-left: 2.5%;
    // // margin-right: 2.5%;
    width: 300px;
  }
  .project-description-one {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-two {
    // margin-left: 2.5%;
    // margin-right: 2.5%;
    width: 300px;
  }
  .project-description-two {
    margin-left: 3%;
    margin-bottom: 60px;
  }

  .project-three {
    // margin-left: 2.5%;
    // margin-right: 2.5%;
    width: 300px;
  }
  .project-description-three {
    margin-left: 2.5%;

  }
}
