/**************************************************************************************************
Skills
**************************************************************************************************/




@media(max-width: 2560px){

  #skills {
    height: 680px;
  }
  .skills-summary-one {
    margin-left: 10%;
    margin-right: 10%;
  }

  .html-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .html {
    margin-left: 10px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .jquery {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .underscore-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .react {
    display: inline-block;
  }

  .backbone-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }
  .parse-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .sass-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    display: inline-block;
  }
  .handlebars {
    margin-left: 10px;
    height: 100px;
    width: 200px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

}

@media(max-width: 1920px) and (min-width: 1641px){
  #skills {
    height: 850px;
  }
  .skills-summary-one {
    margin-left: 20%;
    margin-right: 20%;
  }

  .skill-logos {
    margin-left: 32.5%;
    margin-right: 30%;
  }

  .row-1-container {
    margin-left: 28px;
  }

  .html-container {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 20px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 25px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .jquery {
    margin-left: 8px;
    height: 100px;
    width: 100px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .react {
    margin-left: 10px;
    display: inline-block;
  }



  .row-2-container {
    margin-top: 20px;
    margin-left: 1px;
  }

  .underscore-container {
    width: 300px;
    margin-right: 40px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .parse-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    position: relative;
    bottom: 9px;
    height: 100px;
    width: 300px;
  }




  .row-3-container {
    margin-left: 48px;
  }

  .backbone-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .sass-container {
    width: 100px;
    margin-right: 38px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    display: inline-block;
  }
  .handlebars {
    margin-left: 10px;
    position: relative;
    bottom: 45px;
    height: 100px;
    width: 200px;
  }




  .row-4-container {
    margin-left: 150px;
    margin-top: 25px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }
}

@media(max-width: 1640px) and (min-width: 1441px){

  #skills {
    height: 860px;
  }
  .skills-summary-one {
    margin-left: 15%;
    margin-right: 15%;
  }

  .skill-logos {
    margin-left: 29.5%;
    margin-right: 27%;
  }

  .row-1-container {
    margin-left: 30px;
  }

  .html-container {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 20px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 25px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .jquery {
    margin-left: 8px;
    height: 100px;
    width: 100px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .react {
    margin-left: 10px;
    display: inline-block;
  }



  .row-2-container {
    margin-top: 20px;
  }

  .underscore-container {
    width: 300px;
    margin-right: 40px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .parse-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    position: relative;
    bottom: 9px;
    height: 100px;
    width: 300px;
  }




  .row-3-container {
    margin-left: 48px;
  }

  .backbone-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .sass-container {
    width: 100px;
    margin-right: 38px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    display: inline-block;
  }
  .handlebars {
    margin-left: 10px;
    position: relative;
    bottom: 45px;
    height: 100px;
    width: 200px;
  }




  .row-4-container {
    margin-left: 150px;
    margin-top: 25px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

}

@media(max-width: 1440px) and (min-width: 1281px) {

  #skills {
    height: 900px;
  }
  .skills-summary-one {
    margin-left: 15%;
    margin-right: 15%;
  }

  .skill-logos {
    margin-left: 27%;
    margin-right: 27%;
  }

  .row-1-container {
    margin-left: 30px;
  }

  .html-container {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 20px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 25px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .jquery {
    margin-left: 8px;
    height: 100px;
    width: 100px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .react {
    margin-left: 10px;
    display: inline-block;
  }



  .row-2-container {
    margin-top: 20px;
  }

  .underscore-container {
    width: 300px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .parse-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    position: relative;
    bottom: 9px;
    height: 100px;
    width: 300px;
  }




  .row-3-container {
    margin-left: 48px;
  }

  .backbone-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .sass-container {
    width: 100px;
    margin-right: 38px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    display: inline-block;
  }
  .handlebars {
    margin-left: 10px;
    position: relative;
    bottom: 45px;
    height: 100px;
    width: 200px;
  }




  .row-4-container {
    margin-left: 150px;
    margin-top: 25px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

}

@media(max-width: 1280px) and (min-width: 1025px){

  #skills {
    height: 850px;
  }
  .skills-summary-one {
    margin-left: 20%;
    margin-right: 20%;
  }

  .skill-logos {
    margin-left: 25%;
    margin-right: 25%;
  }

  .row-1-container {
    margin-left: 28px;
  }

  .html-container {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 20px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 25px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .jquery {
    margin-left: 8px;
    height: 100px;
    width: 100px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .react {
    margin-left: 10px;
    display: inline-block;
  }

  .row-2-container {
    margin-top: 20px;
    margin-left: 8px;
  }

  .underscore-container {
    width: 300px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .parse-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    position: relative;
    bottom: 9px;
    height: 100px;
    width: 300px;
  }

  .row-3-container {
    margin-left: 48px;
    bottom: 65px;
  }

  .backbone-container {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .sass-container {
    width: 100px;
    margin-right: 38px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    display: inline-block;
  }
  .handlebars {
    margin-left: 10px;
    position: relative;
    height: 100px;
    width: 200px;
  }

  .row-4-container {
    margin-left: 150px;
    bottom: 65px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 15px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

}

@media(max-width: 1024px) and (min-width: 769px){

  #skills {
    height: 870px;
  }
  .skills-summary-one {
    margin-left: 10%;
    margin-right: 10%;
  }

  .skill-logos {
    margin-left: 21%;
    margin-right: 2%;
  }

  .row-1-container {
    margin-left: 38px;
  }

  .html-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .html {
    margin-left: 10px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .jquery {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .row-2-container {
    margin-top: 20px;
    margin-left: -8px;
  }

  .underscore-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .react {
    display: inline-block;
  }

  .backbone-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }
  .parse-container {
    width: 300px;
    margin-right: 0px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .sass-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    display: inline-block;
  }
  .handlebars {
    margin-left: 10px;
    height: 100px;
    width: 200px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .row-4-container {
    margin-left: 125px;
    margin-top: 25px;
  }

}

@media(max-width: 768px) and (min-width: 426px){

  #skills {
    height: 1110px;
  }
  .skills-summary-one {
    margin-left: 10%;
    margin-right: 10%;
  }

  .skill-logos {
    margin-left: 1%;
    margin-right: 1%;
  }

  .row-1-container {
    margin-left: 5px;
  }

  .row-2-container {
    margin-top: 5px;
    margin-left: -7px;
  }

  .row-3-container {
    margin-left: 70px;
  }

  .row-4-container {
    margin-left: 150px;
    margin-top: 25px;
  }

  .html-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 80px;
    display: inline-block;
  }
  .html {
    margin-left: 10px;
    height: 100px;
    width: 100px;
    display: inline-block;
  }
  .css-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    height: 100px;
    display: inline-block;
  }
  .javascript-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    display: inline-block;
  }
  .jquery-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 2px;
    display: inline-block;
  }
  .jquery {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .underscore-container {
    width: 300px;
    margin-right: 0px;
    margin-left: 35px;
    margin-top: 50px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .react-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 20px;
    display: inline-block;
  }
  .react {
    display: inline-block;
  }

  .backbone-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 35px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }
  .parse-container {
    width: 300px;
    margin-right: 0px;
    margin-left: 60px;
    margin-top: 50px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    height: 100px;
    width: 300px;
  }

  .sass-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .git-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 20px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 100px;
    width: 100px;
  }

  .handlebars-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    top: 45px;
  }
  .handlebars {
    margin-left: 10px;
    height: 100px;
    width: 200px;
  }

  .photoshop-container {
    width: 100px;
    margin-right: 0px;
    margin-left: -15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 0px;
    height: 150px;
    width: 150px;
  }

  .illustrator-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 45px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 10px;
    height: 150px;
    width: 150px;
  }

  .indesign-container {
    width: 100px;
    margin-right: 0px;
    margin-left: 70px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 150px;
    width: 150px;
  }
}

@media(max-width: 425px) and (min-width: 376px){

  #skills {
    height: 730px;
    font-size: 10px;
  }
  .skills-summary-one {
    margin-left: 10%;
    margin-right: 10%;
  }

  .skill-logos {
    margin-left: 13%;
    margin-right: 1%;
    position: relative;
    bottom: 50px;
  }

  .row-1-container {
    margin-left: 5px;
  }

  .row-2-container {
    margin-top: 5px;
    margin-left: -5px;
  }

  .row-3-container {
    margin-left: 15px;
  }

  .row-4-container {
    margin-left: 38px;
    margin-top: 25px;
  }

  .html-container {
    width: 50px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
  }
  .css-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  .javascript-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 40px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  .jquery-container {
    width: 40px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .jquery {
    margin-left: 10px;
    height: 40px;
    width: 40px;
  }

  .underscore-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 46px;
    margin-top: 50px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 50px;
    width: 200px;
  }

  .react-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .react {
    height: 35px;
    width: 35px;
    display: inline-block;
  }

  .backbone-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }
  .parse-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 46px;
    margin-top: 15px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    height: 50px;
    width: 200px;
  }

  .sass-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }

  .git-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }

  .handlebars-container {
    width: 80px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 48px;
  }
  .handlebars {
    margin-left: 10px;
    height: 30px;
    width: 80px;
  }

  .photoshop-container {
    width: 75px;
    margin-right: 0px;
    margin-left: -15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 0px;
    height: 75px;
    width: 75px;
  }

  .illustrator-container {
    width: 75px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 1px;
    height: 75px;
    width: 75px;
  }

  .indesign-container {
    width: 75px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 75px;
    width: 75px;
  }
}


@media(max-width: 375px) and (min-width: 321px){

  #skills {
    height: 730px;
    font-size: 10px;
  }
  .skills-summary-one {
    margin-left: 10%;
    margin-right: 10%;
  }

  .skill-logos {
    margin-left: 8%;
    margin-right: 1%;
    position: relative;
    bottom: 50px;
  }

  .row-1-container {
    margin-left: 5px;
  }

  .row-2-container {
    margin-top: 5px;
    margin-left: -5px;
  }

  .row-3-container {
    margin-left: 15px;
  }

  .row-4-container {
    margin-left: 38px;
    margin-top: 25px;
  }

  .html-container {
    width: 50px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
  }
  .css-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  .javascript-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 40px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  .jquery-container {
    width: 40px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .jquery {
    margin-left: 10px;
    height: 40px;
    width: 40px;
  }

  .underscore-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 46px;
    margin-top: 50px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 50px;
    width: 200px;
  }

  .react-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .react {
    height: 35px;
    width: 35px;
    display: inline-block;
  }

  .backbone-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }
  .parse-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 46px;
    margin-top: 15px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    height: 50px;
    width: 200px;
  }

  .sass-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }

  .git-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }

  .handlebars-container {
    width: 80px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 48px;
  }
  .handlebars {
    margin-left: 10px;
    height: 30px;
    width: 80px;
  }

  .photoshop-container {
    width: 75px;
    margin-right: 0px;
    margin-left: -15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 0px;
    height: 75px;
    width: 75px;
  }

  .illustrator-container {
    width: 75px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 1px;
    height: 75px;
    width: 75px;
  }

  .indesign-container {
    width: 75px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 75px;
    width: 75px;
  }

}


@media(max-width: 320px) {

  #skills {
    height: 730px;
    font-size: 10px;
  }
  .skills-summary-one {
    margin-left: 10%;
    margin-right: 10%;
  }

  .skill-logos {
    margin-left: 13%;
    margin-right: 1%;
    position: relative;
    bottom: 50px;
  }

  .row-1-container {
    margin-left: 5px;
  }

  .row-2-container {
    margin-top: 5px;
    margin-left: -5px;
  }

  .row-3-container {
    margin-left: 15px;
  }

  .row-4-container {
    margin-left: 38px;
    margin-top: 25px;
  }

  .html-container {
    width: 50px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .html {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    display: inline-block;
  }
  .css-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .css {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  .javascript-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 40px;
    display: inline-block;
  }
  .javascript {
    margin-left: 10px;
    height: 35px;
    width: 35px;
    display: inline-block;
  }
  .jquery-container {
    width: 40px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .jquery {
    margin-left: 10px;
    height: 40px;
    width: 40px;
  }

  .underscore-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 46px;
    margin-top: 50px;
    display: inline-block;
  }
  .underscore {
    margin-left: 10px;
    height: 50px;
    width: 200px;
  }

  .react-container {
    width: 35px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .react {
    height: 35px;
    width: 35px;
    display: inline-block;
  }

  .backbone-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .backbone {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }
  .parse-container {
    width: 200px;
    margin-right: 0px;
    margin-left: 46px;
    margin-top: 15px;
    display: inline-block;
  }
  .parse {
    margin-left: 10px;
    height: 50px;
    width: 200px;
  }

  .sass-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .sass {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }

  .git-container {
    width: 45px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .git {
    margin-left: 10px;
    height: 45px;
    width: 45px;
  }

  .handlebars-container {
    width: 80px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 48px;
  }
  .handlebars {
    margin-left: 10px;
    height: 30px;
    width: 80px;
  }

  .photoshop-container {
    width: 75px;
    margin-right: 0px;
    margin-left: -15px;
    display: inline-block;
  }
  .photoshop {
    margin-left: 0px;
    height: 75px;
    width: 75px;
  }

  .illustrator-container {
    width: 75px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .illustrator {
    margin-left: 1px;
    height: 75px;
    width: 75px;
  }

  .indesign-container {
    width: 75px;
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
  }
  .indesign {
    margin-left: 10px;
    height: 75px;
    width: 75px;
  }

}
